@media screen and (max-width: 736px) {
    h1 {
        font-size: 45px;
    }
    .contact_us p {
        font-size: 14px;
        line-height: 22px;
        padding: 0px;
    }
    h3 {
        padding-bottom: 16px;
    }
    h2 {
        padding-bottom: 40px;
        line-height: 46px;
    }
    h4 {
        line-height: 30px;
    }
}
@media screen and (max-width: 414px){
    .main {
        background-image: url("../images/main-mobile_01.jpg");
    }
    header {
        background-color: rgba(36, 47, 53, 0.7);
        padding-bottom: 10px;
    }
    h1 {
        font-size: 45px;
        max-width: 300px;
    }
    .menu span {
        display: none;
    }
    .menu i {
        font-size: 16px;
    }
    .main div {
        text-align: center;
    }
    .main a {
        text-decoration: none;
        text-align: center;
        margin: auto;
        padding-top: 30px;
        display: inline-block;
    }
    .main a i {
        font-size: 30px;
        color: #FFFFFF;
        display: inline-block;
    }
    .content_block p {
        font-size: 14px;
    }
    h3 {
        padding-bottom: 16px;
    }
    h2 {
        padding-bottom: 40px;
        line-height: 44px;
    }
    h4 {
        line-height: 30px;
    }
    .work_example a {
        width: 100%;
    }
    .team {
        margin-bottom: 28px;
        margin-left: 14px;
        margin-right: 14px;
    }
    .team:last-child {
        margin-bottom: 0px;
    }
    .team h3 {
        text-align: left;
        padding-left: 15px;
    }
    .team h4 {
        text-align: left;
        padding-left: 15px;
        padding-bottom: 30px;
    }
    .team p {
        text-align: left;
        padding-left: 15px;
        font-size: 14px;
    }
    .half-left {
        width: 100%;
    }
    .half-right {
        width: 100%;
    }
    .last_post {
        margin-left: 14px;
        margin-right: 14px;
    }
    .half-right p {
        padding-left: 0px;
    }
    .map {
        margin-left: 14px;
        margin-right: 14px;
    }
    .contact_us {
        margin-left: 14px;
        margin-right: 14px;
    }
    .contact_us div {
        padding: 40px 20px;
    }
    .contact_us p {
        font-size: 14px;
        line-height: 22px;
        padding: 0px;
    }
    footer div p {
        width: 100%;
        text-align: left;
        font-size: 14px;
        padding-left: 14px;
    }
    .about_page.main {
        background-image: url("../images/about_mobile_01.jpg");
    }
    .services .half-right div {
        width: 100%;
    }
    .services .half-right div p {
        padding-top: 50px;
        padding-bottom: 0px;
    }
}