* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    position: absolute;
    padding: 15px 15px 0px;
    width: 100%;
}
.container_menu {
    margin: auto;
    max-width: 1190px;
}
.d-flex {
    display: flex;
}
.d-wrap {
    flex-wrap: wrap;
}
header .container_menu.d-flex {
    justify-content: space-between;
    align-items: center;
}
.menu {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
}
.logo {
    display: inline-block;
}
.main {
    background-image: url("../images/main_01.jpg");
    height: 100vh;
    background-size: cover;
    align-items: center;
}
.main div {
    position: absolute;
    width: 100%;
    margin: auto;
}
h1 {
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    margin: auto;
    max-width: 1190px;
}
.main a i {
    display: none;
}
h1 span {
    font-style: italic;
}
.container {
    max-width: 746px;
    margin: auto;
}
.content_block {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    text-align: center;
}
h3 {
     font-size: 13px;
     font-family: 'Open Sans', sans-serif;
     color: #d4af37;
     text-align: center;
     text-transform: uppercase;
     font-weight: 600;
     max-width: 1190px;
     display: inline-block;
     width: 100%;
     margin: auto;
     padding-bottom: 20px;
 }
h2 {
    font-size: 44px;
    font-family: 'Open Sans', sans-serif;
    color: #747a7f;
    text-align: center;
    font-weight: 600;
    max-width: 1190px;
    display: inline-block;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.content_block p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #021725;
    text-align: center;
    font-weight: 300;
    max-width: 1190px;
    display: inline-block;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.button {
    margin: auto;
    display: inline-block;
}
.button a {
    display: inline-block;
    height: 55px;
    min-width: 238px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #021725;
    padding-top: 18px;
    border: 1px solid #000000;
}
.work_example {
    display: flex;
    flex-wrap: wrap;
}
.work_example a {
    width: 25%;
    padding: 1px;
}
.work_example a img {
    width: 100%;
    height: 100%;
}
.space-between {
    justify-content: space-between;
}
.team {
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 46px;
    background-color: #f9f9f9;
}
.team img {
    width: 100%;
    padding-bottom: 20px;
}
h4 {
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    color: #71777c;
    text-align: center;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    margin: auto;
    padding-bottom: 32px;
    padding-right: 17px;
    padding-left: 17px;
}
.team p {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #021725;
    text-align: center;
    font-weight: 300;
    display: inline-block;
    width: 100%;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 0px;
    line-height: 25px;
}
.last_post {
    background-color: #f9f9f9;
    margin-bottom: 84px;
}
.half-left {
    width: 50%;
}
.half-right {
    width: 50%;
    padding: 44px 30px 44px 38px;
    text-align: left;
}
.half-left img {
    width: 100%;
    height: auto;
    display: inline-block;
}
.button-small a {
    display: inline-block;
    height: 48px;
    min-width: 126px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #021725;
    padding-top: 15px;
    border: 1px solid #000000;
}
.half-right p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.half-right h4 {
    font-size: 30px;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 26px;
}
h5 {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #71777c;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
}
.map {
    max-width: 746px;
    height: 292px;
    position: relative;
    margin: auto;
}
.contact_us {
    flex-wrap: wrap;
    background-color: #f9f9f9;
}
.contact_us div {
    width: 50%;
    padding: 50px 80px;
}
.contact_us h5 {
    font-weight: 600;
}
.contact_us p {
    font-size: 19px;
    padding-bottom: 0px;
}
footer {
    background-color: #eeeeee;
    height: 94px;
}
footer div {
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
}
footer p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #505d68;
    text-align: center;
    font-weight: 300;
    display: inline-block;
    width: 50%;
}
.about_page.main {
    background-image: url("../images/about_main_01.jpg");
    height: 100vh;
    background-size: cover;
    align-items: center;
}
.about_page.main div {
    position: absolute;
    width: 100%;
    bottom: 8%;
}
.about_page.main a {
    margin: auto;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}
.about_page.main a i {
    display: inline-block;
    font-size: 30px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
}
.padding_0 {
    padding: 0px;
}
.services {
    background-color: #f9f9f9;
}
.services .half-right div {
    width: 50%;
}
.services h4{
    font-size: 45px;
    font-weight: 600;
    width: 100%;
}
.services p {
    max-width: 215px;
}
.services .half-right {
    align-items: flex-end;
}
.owl-dots .owl-dot {
    outline: none;
    margin: 15px 5px;
}
.owl-dots .owl-dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #747a7f;
    border-radius: 50%;
}
.owl-dots .owl-dot.active span {
    background-color: black;
}
.blog_page.main {
    background-image: url("../images/blog_main_01.jpg");
    align-items: center;
}
#opener {
    display: inline-block;
    height: 55px;
    min-width: 238px;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #021725;
    border: 1px solid #000000;
    background-color: transparent;
}
.ui-dialog-titlebar {
    background-color: black;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.ui-dialog {
    max-width: 750px!important;
    width: 100%!important;
    padding: 0px;
}
.ui-widget-header {
    font-size: 24px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.ui-dialog .ui-dialog-titlebar-close {
    background-color: transparent;
    border: none;
    color: black;
    top: -10px;
    right: -30px;
    width: 30px;
    height: 30px;
}
.dialog-form {
    display: inline-block;
    max-width: 580px;
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
    margin: auto;
    justify-content: center;
    margin-bottom: 60px;
}
.dialog-form label {
    max-width: 160px;
    width: 100%;
    text-transform: uppercase;
    font-size: 22px;
    color: #363636;
    margin: 50px 10px 10px 0px;
}
.dialog-form input {
    max-width: 384px;
    width: 100%;
    margin: 50px 0px 10px 25px;
    padding: 4px;
    font-size: 20px;
    border: 1px solid #797777;
    outline: none;
}
.dialog-form .dialog-button {
    max-width: 538px;
    width: 100%;
    margin: auto;
    background-color: #d5d5d5;
    height: 60px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin: 30px 0px;
    border: none;
    outline: none;
}
.dialog-form .dialog-button-blue {
    max-width: 538px;
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin: 30px 0px;
    border: none;
    outline: none;
    background-color: #557bcc;
    color: white;
}
.dialog-form p {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 22px;
    color: black;
}
.ui-dialog .ui-dialog-content {
    text-align: center;
}
.ui-dialog .ui-widget-content {
    text-align: center;
}